<hr>

<div class="credits">

  <div class="entry">Reporter:  <br>John Flinn • <a href="mailto:travel@sfchronicle.com">travel@sfchronicle.com</a> • <a href = "https://twitter.com/SFChronTravel" target="_blank">@SFChronTravel</a></div>

  <div class="entry">Travel Editor:  <br>Spud Hilton • <a href="mailto:shilton@sfchronicle.com">shilton@sfchronicle.com</a> • <a href = "https://twitter.com/SpudHilton" target="_blank">@SpudHilton</a></div>

  <div class="entry">Interactive producer:  <br>Emma O'Neill • <a href="mailto:eoneill@sfchronicle.com">eoneill@sfchronicle.com</a> • <a href = "https://twitter.com/emmaruthoneill" target="_blank">@emmaruthoneill</a></div>

</div>

<footer class="nav-bottom">
  <a class="logo" href="http://www.sfchronicle.com">
    <img src="./assets/logos/sf_logo_white.png"></img>
  </a>
</footer>
