<hr>

<div class="credits">

  <div class="entry">Reporter:  <br>John Flinn • <a href="mailto:travel@sfchronicle.com">travel@sfchronicle.com</a> • <a href = "https://twitter.com/SFChronTravel" target="_blank">@SFChronTravel</a></div>

  <div class="entry">Editor:  <br>Spud Hilton • <a href="mailto:shilton@sfchronicle.com">shilton@sfchronicle.com</a> • <a href = "https://twitter.com/SpudHilton" target="_blank">@SpudHilton</a></div>

  <div class="entry">Interactive producer:  <br>Emma O'Neill • <a href="mailto:eoneill@sfchronicle.com">eoneill@sfchronicle.com</a> • <a href = "https://twitter.com/emmaruthoneill" target="_blank">@emmaruthoneill</a></div>

</div>

<hr>

<div class="dont-miss">
  <div class="story">
    <div class="padded">
    <a href="http://projects.sfchronicle.com/2016/sea-level-rise/#part2" target="_blank">
      <img src="./assets/social/dont-miss-sealevel2.jpg"></img>
    </a>
      <div class="small">Shoring up SF's edge</div>
    </div>
  </div>
  <div class="story">
    <div class="padded">
    <a href="http://projects.sfchronicle.com/2016/visas/" target="_blank">
      <img src="./assets/social/dont-miss-visas.png"></img>
    </a>
      <div class="small">H-1B visas: who gets them, where they go</div>
    </div>
  </div>
  <div class="story">
    <div class="padded">
    <a href="http://projects.sfchronicle.com/2016/teacher-pay/" target="_blank">
      <img src="./assets/social/dont-miss-teacherpay.jpg"></img>
    </a>
      <div class="small">Teachers struggle to stay in SF</div>
    </div>
  </div>
  <div class="story">
    <div class="padded">
    <a href="http://projects.sfchronicle.com/2016/airbnb/" target="_blank">
      <img src="./assets/social/dont-miss-airbnb.jpg"></img>
    </a>
      <div class="small">Airbnb and rivals thrive</div>
    </div>
  </div>
</div>


<footer class="nav-bottom">
  <a class="logo" href="http://www.sfchronicle.com">
    <img src="../assets/logos/sf_logo_white.png"></img>
  </a>
</footer>
