.quiz-container {
  max-width: 900px;
  margin: auto;
  font-family: @block-graphics;
  .quiz-box {
    padding: 20px 0;
    font-size: 16px;
    text-align: left;
    padding-bottom: 50px;
  }
  .question {
    font-size: 18px;
    font-family: @med-graphics;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid @dark-gray;
  }
  .answer {
    cursor: pointer;
    background: #FFE599;
    padding: 2px;
    border-radius: 2px;
    margin: 4px;
    .num {
      font-family: @bold-graphics;
      padding-right: 20px;
      padding-left: 10px;
    }
  }
}

.divider {
  width: 80%;
  margin: auto;
  border-bottom: 1px @dark-gray solid;
  height: 2px;
  margin-bottom: 40px;
}

.dont-miss {
  max-width: 1000px;
  margin: auto;
}
