@yellow: #FFE599;
@dark-yellow: darken(#FFE599,20%);

.title-container {
  padding-top: 50px;
}

.outer {
  max-width: 900px;
  margin: auto;
  font-family: @block-graphics;
}

.small-man {
  max-width: 60px;
  text-align: center;
  margin: auto;
  padding-bottom: 20px;
}

.quiz-container {
  .quiz-box {
    padding: 20px 0;
    font-size: 16px;
    text-align: left;
    padding-bottom: 50px;
  }
  .question {
    font-size: 18px;
    font-family: @med-graphics;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid @dark-gray;
  }
  .answer {
    cursor: pointer;
    background: lighten(@yellow,2%);
    &:hover {
      background: darken(@yellow,5%);
    }
    &.active {
      background: darken(@yellow,20%);
      color: white;
    }
    padding: 2px;
    border-radius: 2px;
    margin: 4px;
    .num {
      font-family: @bold-graphics;
      padding-right: 20px;
      padding-left: 10px;
    }
  }
  .result {
    padding: 10px;
    .fa {
      padding-right: 10px;
    }
    .fa-check-circle-o {
      color: green;
    }
    .fa-times-circle-o {
      color: red;
    }
  }
}

.divider {
  width: 80%;
  margin: auto;
  border-bottom: 1px @dark-gray solid;
  height: 2px;
  margin-bottom: 40px;
}

.dont-miss {
  max-width: 1000px;
  margin: auto;
}

.grade, .grade-commentary {
  font-family: @banner;//@med-graphics;
  text-align: center;
  margin: auto;
  padding: 30px 0;
  font-size: 16px;
}
.grade-commentary {
  padding-top: 0;
}
#grade {
  width: 80%;
  margin: auto;
  background: lighten(@gray-blue,40%);
  margin-top: 20px;
}

.grade-check {
  font-family: @block-graphics;
  text-align: center;
  margin: auto;
  border: 2px solid @dark-yellow;
  border-radius: 4px;
  padding: 4px;
  width: 300px;
  &:hover {
    background: @dark-yellow;
    color: white;
  }
}
