<!doctype html>
<html>
  <head>
    <title><%= json.project.seo_title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="__sync_contentCategory" content="meterA">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">

    <%= !json.project.embedded ? t.include("partials/_paywall.html") : t.include("partials/_embedframe.html") %>

    <%= t.include("partials/_head.html") %>

  </head>

  <%= !json.project.embedded ? "<body>" : "<body is='reponsive-body'>" %>

    <%= t.include("partials/_nav.html") %>

    <div class="outer">

      <div class="title-container">
        <div class="full-width-img top-img">
          <img src="./assets/trivia-illo.jpeg">
          <div class="caption title">Daymond Gascon, The Chronicle</div>
        </div>
        <h1 class="title long">2016 Chronicle Travel Geography Quiz</h1>
        <div class="deck">Sixteen questions on physical, political and cultural geography to challenge your global savvy &mdash; and to share a few fun facts.</div>
        <p class="author">By John Flinn and Spud Hilton</a></p>
        <p class="date">December 2016</p>
        <div class="top-social-container">
          <div class="link top-social">
            <a id="twitter-icon" title="Share on Twitter" href="https://twitter.com/intent/tweet?url=http%3A%2F%2Fprojects.sfchronicle.com%2F2016%2F<%= grunt.data.json.project.slug %>&text=<%= grunt.data.json.project.twitter_text %>&hashtags=<%= grunt.data.json.project.hashtag %>">
              <i class="fa fa-twitter"></i>
            </a>
          </div>
          <div class="link top-social">
            <a id="facebook-icon" title="Share on Facebook" href="#" target="_blank" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fprojects.sfchronicle.com%2F2016%2F<%= grunt.data.json.project.slug %>', 'facebook-share-dialog', 'width=626,height=436'); return false;">
              <i class="fa fa-facebook"></i>
            </a>
          </div>
          <div class="link top-social">
            <a id="mail-icon" title="Share via email" href="mailto:?subject=<%= grunt.data.json.project.title %>&body=<%= grunt.data.json.project.description %>%0A%0Ahttp%3A%2F%2Fprojects.sfchronicle.com%2F2016%2F<%= grunt.data.json.project.slug %>">
              <i class="fa fa-envelope" aria-hidden="true"></i>
            </a>
          </div>

        </div>
      </div>

      <div class="quiz-container">

      <% csv.spud_quiz_data.forEach(function(q,qdx) { %>

        <div class="quiz-box">
          <% if (qdx == 15) { %>
            <div class="question"><span class="qnum">Bonus</span><%=q.question%></div>
          <% } else { %>
            <div class="question"><span class="qnum"><%=qdx+1%></span><%=q.question%></div>
          <% } %>
          <% if (q.image && q.type == "question") { %>
            <div class="inline-img">
              <img src="http://ww2.hdnux.com/photos/54/11/64/<%=q.image%>/3/2000x1000.jpg">
              <div class="caption"><%=q.caption%> <span class="byline"><%=q.credit%></span></div>
            </div>
          <% } %>

          <div id="answer-box-<%=q.id%>">
            <% csv.spud_answers_data.forEach(function(a,adx) { %>
              <% if (a.id == q.id){ %>
                <div class="answer answer<%=q.id%> <%=a.correct%>" id="answer<%=q.id%><%=a.num%>"><span class="num"><%=a.num%></span><%=a.answer%></div>
              <% } %>
            <% }); %>
          </div>
          <div class="result" id="result<%=q.id%>"></div>
        </div>

      <% }); %>
      </div>

      <div class="grade-container">
        <div class="grade-check" id="grade-check">See your result</div>
        <div id="grade"></div>
      </div>

    </div>

    <%= t.include("partials/_footer.html") %>

    <script>
      var questionsData = <%= JSON.stringify(csv.spud_quiz_data) %>;
      var answersData = <%= JSON.stringify(csv.spud_answers_data) %>;
      var gradeData = <%= JSON.stringify(csv.spud_grading_data) %>;
    </script>

    <script src="app.js" async></script>
    <%= t.include("partials/_helloSFC.html") %>

  </body>
</html>
